:root {
  --background: white;
  --background2: #d2d8e0;
  --primary: #2c7f8d;
  --secondary: #265f6a;
  --text-color: #20262c;
  /* TODO: Better sans-serif font */
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181c20;
    --background2: #282e35;
    --primary: #14c8ff;
    --secondary: #3e8f80;
    --text-color: white;
    color-scheme: dark;
  }
}

html,
body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--serif);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif);
}

a {
  color: inherit;
}

p,
ul,
ol,
li {
  max-width: 70ch;
}

ul,
ol {
  padding-inline-start: 1.5rem;
}

.gradient-text,
h1 {
  background-clip: text;
  background: linear-gradient(15deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.container {
  background: var(--background2);
  border-radius: 1rem;
  padding: 1rem;
}

.center-contents {
  display: grid;
  place-items: center;
  width: 100%;
}

main {
  margin: auto;
  padding-inline: 1rem;
  min-width: 20rem;
  width: fit-content;
  max-width: 50rem;
}

hr {
  max-width: 100%;
  height: 0.25rem;
  border: none;
  border-radius: 0.125rem;
  background-image: linear-gradient(90deg, var(--primary), var(--secondary));
}

p [astro-icon] {
  display: inline;
  height: 1.2em;
  position: relative;
  top: 0.3em;
}
