---
import Layout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
import profile from "../images/profile.jpg";
---

<Layout>
  <h1 class="gradient-text">Joshua Burer</h1>
  <div class="profile-image-container">
    <Image src={profile} alt="profile" width="500" format="webp" />
  </div>
  <hr />
  <p>Hey there! 👋</p>
</Layout>

<style>
  h1 {
    font-family: var(--serif);
    margin-inline: auto;
    text-align: center;
    width: fit-content;
  }
  .profile-image-container {
    border-radius: 50%;
    box-shadow: 0 0 0 -4rem var(--primary), 0 0 0 -4rem var(--secondary);
    height: 20rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    overflow: hidden;
    transition: transform ease 0.3s, box-shadow ease 1s, filter ease 1s;
    width: 20rem;
  }
  .profile-image-container > img {
    height: 100%;
    object-fit: cover;
    transition: transform ease 1s;
    width: 100%;
  }
  .profile-image-container:hover {
    box-shadow: 2rem 2rem 5rem -4rem var(--primary),
      -2rem -2rem 5rem -4rem var(--secondary);
    filter: contrast(1.1) brightness(1.2);
    transform: scale(1.05);
  }
  .profile-image-container:hover > img {
    transform: scale(1.05);
  }
</style>
