---
import Layout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import profile from "../images/profile.jpg";
---
<Layout
  description="I'm Josh. I'm a web developer based in Atlanta, GA with a B.S. in Computer Science from Georgia Tech!"
>
  <h1 class="gradient-text">Joshua Burer</h1>
  <div class="profile-image-container">
    <Image
      src={profile}
      alt="profile"
      width="500"
      format="webp"
      loading="eager"
    />
  </div>
  <hr />
  <p class="center" id="bio">
    I'm a web developer based in Atlanta, GA, with a B.S. in Computer Science from Georgia Tech!
  </p>
</Layout>

<style>
  h1 {
    margin-inline: auto;
    text-align: center;
    width: fit-content;
  }
  .profile-image-container {
    border-radius: 50%;
    box-shadow: 0 0 0 -4rem var(--primary), 0 0 0 -4rem var(--secondary);
    height: 20rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    overflow: hidden;
    transition: box-shadow ease 1s, filter ease 1s;
    width: 20rem;
  }
  .profile-image-container > img {
    height: 100%;
    object-fit: cover;
    transition: transform ease 1s;
    width: 100%;
  }
  .profile-image-container:hover {
    box-shadow: 2rem 2rem 5rem -4rem var(--primary),
      -2rem -2rem 5rem -4rem var(--secondary);
    filter: contrast(1.1) brightness(1.2);
  }
  #bio {
    max-width: 40ch;
    text-align: center;
  }
</style>