---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "../styles/base.css";
let fullTitle = 'Joshua Burer'
let { title, description, frontmatter } = Astro.props;

if (frontmatter?.title) {
  title = frontmatter.title;
}
if (frontmatter?.description) {
  description = frontmatter.description;
}

if (title) {
  fullTitle = `${title} - Joshua Burer`
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {fullTitle}
    </title>
    <meta name="description" content={description} />
    <meta name="theme-color" content="var(--background)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Fira+Code&display=swap" rel="stylesheet">
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
